{% macro event_location(address_room, library) %}
  <div class="event-occation-info-item">
    <i class="fa fa-map-marker" aria-hidden="true"></i> {{ library is empty ? address_room : library ~ ', ' ~ address_room }}
  </div>
{% endmacro %}

{% macro event_scheduled_time(scheduled_time) %}
  <div class="event-occation-info-item">
    <i class="fa fa-clock-o" aria-hidden="true"></i> {{ scheduled_time | trim | raw }}
  </div>
{% endmacro %}
