.DS_Store

# Ignore drupal-capistrano data dir
/data

# Ignore database dumps
database.sql.gz

# Ignore docker data dir
docker/data

# Ignore todo-files
todo

# Ignore temporary vim files
*~
*.swp
*.swo


# Ignore node files
package-lock.json
.npm

# Ignore configuration files that may contain sensitive, or site specific
# information.
web/sites/default/themes/ubnext/css/ubnext.css

# Ignore paths that contain user-generated content.
# !sites/*/files
web/sites/*/files/*
# !web/sites/*/files/unmanaged_files
web/sites/*/private
