{# slate
  name = More event occasions
  models[event_occasions_by_year_month] = item
#}
<div class="event-occasions row">
  {% if event_occasions_by_year_month|length > 0 %}
  {% for year, event_occasions_by_month in event_occasions_by_year_month %}
    {% if (loop.index - 1) %}
      <div class="col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2">
          <h2 class="event-year">{{ year }}</h2>
      </div>
    {% endif %}
    {% for month, event_occasions in event_occasions_by_month %}
    <div class="col-sm-10 col-md-8 col-lg-6  col-lg-offset-3 col-sm-offset-1 col-md-offset-2">
      <div>
        <h2 class="event-month">{{ month }}</h2>
      </div>
      <div class="event-occasions-by-month">
        {{ event_occasions | raw }}
      </div>
    </div>
    {% endfor %}
  {% endfor %}
  {% else %}
    <div class="no-more-events">{{ t('There are currently no upcoming events.') }}</div>
  {% endif %}
<div>
