{# slate
  name = More event occations
  models[event_occations_by_month] = item
#}
<div class="event-occations row">
  {% for month, event_occations in event_occations_by_month %}
  <div class="col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2">
    <div class="row">
      <div class="col-lg-2 event-month-wrapper">
        <h2 class="event-month">{{ month }}</h2>
      </div>
    </div>
    <div class="event-occations-by-month">
      {{ event_occations | raw }}
    </div>
  </div>
  {% endfor %}
<div>
