{# slate
  name = Event occasion: View mode 'Teaser'
  models[entity] = entity:node
  view_mode[node][event_occasion] = teaser
#}
{% import "macros/ubn-events.html.twig" as ubn_events %}

{{ ubn_events.event_teaser(entity, true) }}
<div class="divider"></div>
