.event-occasion-info-wrapper {
  padding-left: 10px;
  h3 {
    font-size: initial;
    line-height: initial;
    margin-bottom: 8px;
  }
}
.event-date-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.event-lead-wrapper{
  margin-top: 8px;
}

.event-occasions-event-day-of-week {
  font-size: @font-size-extra-small;
  font-weight: bold;
}

html[lang="en"]{
  .event-occasions-event-day-of-week{
    text-transform: lowercase;
  }
}


.event-occasions-event-month {
  font-size: @font-size-extra-small;
  font-weight: bold;
  margin-top: 8px;
}

.event-occasions-event-link {
  font-family: @font-family-sans-serif;
  margin-right: 22px;
  font-size: 18px;
  line-height: 1.4;
  padding-right: 20px;
  display: inline-block;
  vertical-align: top;
  &:after{
    font-family: "FontAwesome";
    content: "\f061";
    position: relative;
    top: -2px;
    left: 26px;
    margin-left: -15px;
    display: inline-block;
    font-size: 12px;
    margin-left: -20px;
    width: 20px;
  }
}

.event-occasions-event-day-of-month {
  font-size: 34px;
  font-weight: bold;
  margin-top: -10px;
  margin-bottom: -18px;
}

.event-lead {
  font-weight: bold;
}

.event-occasions-event-day-of-week.short, .event-occasions-event-month.short {
  display: none;
}

.no-more-events{
  width: 100%;
  text-align: center;
  color: #757575;
  font-size: 1.2em;
  font-weight: 700;
  margin-top: 30px;
}

@media screen and (max-width: @screen-xs-max) {
  .event-occasions-event-day-of-week, .event-occasions-event-month {
    display: none;
  }

  .event-occasions-event-day-of-week.short, .event-occasions-event-month.short {
    display: block;
  }
}
