@ubn-events-border-padding: 8px;

//@media (min-width: @screen-sm-min) {
//  .pull-sm-right {
//    float: right;
//  }
//}

//@media (max-width: @screen-sm-max) {
//  .event-occation-add-to-calendar-links {
//    margin-top: 10px;
//  }
//}

.event-occation-add-to-calendar-link {
  font-size: @font-size-small;
  margin-bottom: @ubn-events-border-padding * 2;
}

.event-canceled {
    padding: 0px 3px 0px 3px;
    font-weight: bold;
    font-size: 12px;
    border-radius: 3px;
}

.event-occation-teaser-small {
  font-size: @font-size-small;
  border-bottom: 1px solid @ub-grey;
  margin-bottom: @ubn-events-border-padding;
  padding-bottom: @ubn-events-border-padding;
  .event-occation-info-item {
    display: inline-block;
  }
  .event-occation-categories-label:first-child {
    display: inline-block;
    margin-top: @ubn-events-border-padding;
  }
}

.node-type-event-occation {
  .content-sections.panel-separator {
    margin-bottom: 0;
  }
}

.event-occation-info-item {
  .fa {
    min-width: 12px;
    text-align: center;
  }
}

.event-occation-head-info {
    font-size: @font-size-small;
    .event-canceled {
      display: inline-block;
      margin-bottom: 2px;
    }
    .event-occation-info-item:last-child {
      border-bottom: 1px solid @ub-grey;
      margin-bottom: @ubn-events-border-padding;
      padding-bottom: @ubn-events-border-padding;
    }
}

.node-type-event-occation h3 {
  font-size: @font-size-h3;
}

.call-to-action-link a {
  &::after  {
    font-family: "FontAwesome";
    content: "\f061";
    position: relative;
    top: -2px;
    margin-left: 8px;
    display: inline-block;
    font-size: 12px;
  }
}

/* TODO: Border and padding should not be hardcoded, create variables/mixins */
/* and use in other places (list of links etc) as well */

.event-occation-categories-label {
  font-weight: bold;
}

.event-occation-categories {
  font-size: @font-size-small;
  li {
    margin-bottom: 2px;
  }
  ul.list-unstyled {
    margin-bottom: 0;
  }
}

.event-occation-admin-links {
  a {
    display: inline-block;
    margin-left: 12px;
    font-size: @font-size-small;
  }
}
