.event-occations{
	.event-month{
		font-family: @font-family-sans-serif;
		font-size: 34px;
		font-weight: bold;
	}
}

.event-occations-by-month{
	margin-top: 8px;
	.event-occasion-wrapper{
		border-bottom: 1px solid @ub-grey;
 		margin-bottom: @ubn-events-border-padding;
		padding-bottom: 16px;
	}
	.event-occasion-info-wrapper{
		padding-left: 10px;
	}
	.event-date-wrapper{
		text-align: center;
	}

	.event-occation-info-item{
		font-size: 12px;
	}

	.event-occations-event-day-of-week{
		font-size: 10px;
		font-weight: bold;
		padding-top: 8px;
	}

	.event-occations-event-month{
		font-size: 10px;
		font-weight: bold;
		margin-top: 8px;
	}
	h3{
		display: inline;
	}

	.event-canceled{
		padding: 0px 3px 0px 3px;
    	font-weight: bold;
    	font-size: 12px;
    	border-radius: 3px;
	}

	.event-occations-event-link{
		font-family: @font-family-sans-serif;
		font-size: 18px;
	}



	.event-occations-event-day-of-month{
		font-size: 34px;
    	font-weight: bold;
    	margin-top: -10px;
    	margin-bottom: -18px;
	}

	.event-lead{
		font-weight: bold;
	}
}