{# slate
  name = Front page blurbs (wrapper)
  models[blurbs] = item
#}
<div id="front-page-blurbs-secondary" class="rs_preserve">
	<div class="col-xs-12">
    <h2 class="small header-list no-top-margin blurbs-header">{{ t('Discover') }}</h2>
	</div>
  {% for blurb in blurbs %}
    <div class="blurb blurb-secondary panel-separator col-sm-6 col-md-4">
      {{ blurb|raw }}
    </div>
  {% endfor %}
</div>
