{# slate
  name = Front page blurbs (wrapper)
  models[blurbs] = item
#}
<div id="front-page-blurbs" class="row panel-separator rs_preserve">
	<div class="col-xs-12">
    	<h2 class="small header-list no-top-margin blurbs-header">{{ t('Current') }}</h2>
	</div>
  {% for blurb in blurbs|slice(0, 2) %}
    <div class="blurb blurb-primary panel-separator col-sm-6">
      {{ blurb|raw }}
    </div>
  {% endfor %}
  {% for blurb in blurbs|slice(2) %}
    <div class="blurb blurb-secondary panel-separator col-sm-6 col-md-4">
      {{ blurb|raw }}
    </div>
  {% endfor %}
</div>
