{# slate
  name = Upcoming events listing
  models[event_occasions] = item
#}
{% import "macros/misc.html.twig" as misc %}
<div class="col-sm-6">
  <div class="event-listing grey-border">
    <h3>{{ t('Calendar') }}</h3>
    {% if event_occasions|length > 0 %}
    <div class="more-event-occasions">
      {{ event_occasions | raw }}
    </div>
    <div class="more-news-link clearfix">
      <span>{{ misc.link(t('More events'), 'kalender', 'calendar-link', {  absolute : false}) }}<i class="fa fa-arrow-right"></i></span>
    </div>
    {% else %}
    <div class="no-more-events">{{ t('There are currently no upcoming events.') }}</div>
    {% endif %}
  </div>
</div>
