{# slate
  name = Event occation: View mode 'Teaser small'
  models[entity] = entity:node
  view_mode[node][event_occation] = ubn_teaser_small
#}
{% import "macros/dates.html.twig" as dates %}
{% import "macros/misc.html.twig" as misc %}
{% import "macros/ubn-events.html.twig" as ubn_events %}

<div class="event-occation-teaser-small">
  {{
    ubn_events.event_scheduled_time(
      misc.link(
        ubn_events_format_event_time(entity.field_scheduled_time),
        entity.url.value,
        'more-event-occations-link'
      )
    )
  }}
  {{ ubn_events.event_location(entity.field_address_room.value, entity.field_library.label) }}
</div>
