{# slate
  name = UBN News panes: Latest news widget
  models[stories] = item
 
#}
{% import "macros/misc.html.twig" as misc %}

 
  <div class="col-sm-6 news-widget">
    <div class="latest-stories-widget-stories-wrapper grey-border" style="padding:20px;">
      <h3 class="header-list no-top-margin news-widget-header">{{t('News')}}</h3>
      <ul class="list-unstyled latest-stories-widget-stories">
        {{ stories|raw }}
      </ul>
      <div class="more-news-link clearfix">
        <span>{{ misc.link(t('More news'), 'news', 'latest-stories-widget-read-more-link', {  absolute : false}) }}<i class="fa fa-arrow-right"></i>
        </span>
      </div>
    </div>
  </div>
